<clickhouse>
    <logger>
        <format>JSON</format>
        <level>information</level>
        <log>/var/log/clickhouse-server/clickhouse-server.json</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.json</errorlog>
        <size>10M</size>
        <count>10</count>
    </logger>
</clickhouse>
