<clickhouse>
    <interserver_http_host>{{ ansible_host }}</interserver_http_host>
    <http_port>{{ clickhouse_http_port }}</http_port>
    <tcp_port>{{ clickhouse_native_port}}</tcp_port>
    <interserver_http_port>{{ clickhouse_interserver_http_port }}</interserver_http_port>
</clickhouse>
